target/
.DS_Store
.idea/
.terraform/
.terraform.lock.hcl
*.lock.hcl
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
tfplan
*.tfplan
*.plan
crash.log
crash.*.log
*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.tmp
*.bak
