aws_region        = "us-east-1"
project           = "ai-video-platform"
environment       = "dev"
owner             = "platform"
state_bucket_name = "ai-video-platform"
state_region      = "us-east-1"
network_state_key = "dev/network.tfstate"
eks_state_key     = "dev/eks.tfstate"

db_identifier        = "ai-video-nacos-dev"
db_name              = "nacos_config"
db_username          = "nacos"
db_instance_class    = "db.t4g.micro"
db_allocated_storage = 20
db_engine_version    = "8.0.46"

secrets_path_prefix = "ai-video-platform/dev"
