aws_region        = "us-east-1"
project           = "ai-video-platform"
environment       = "dev"
owner             = "platform"
state_bucket_name = "ai-video-platform"
state_region      = "us-east-1"
network_state_key = "dev/network.tfstate"
eks_state_key     = "dev/eks.tfstate"

db_identifier        = "ai-video-temporal-dev"
db_name              = "temporal"
db_username          = "temporal"
db_password          = "REPLACE_WITH_STRONG_PASSWORD"
db_instance_class    = "db.t4g.micro"
db_allocated_storage = 20
db_engine_version    = "16.6"
