aws_region        = "us-east-1"
project           = "ai-video-platform"
environment       = "dev"
owner             = "platform"
state_bucket_name = "ai-video-platform"
state_region      = "us-east-1"
network_state_key = "dev/network.tfstate"
eks_state_key     = "dev/eks.tfstate"

db_identifier        = "ai-video-flyte-dev"
db_name              = "flyte"
db_username          = "flyte"
db_password          = "REPLACE_WITH_STRONG_PASSWORD"
db_instance_class    = "db.t4g.micro"
db_allocated_storage = 20
db_engine_version    = "16.6"

flyte_bucket_name                  = "REPLACE_WITH_GLOBALLY_UNIQUE_FLYTE_BUCKET"
flyte_namespace                    = "flyte"
flyte_backend_service_account_name = "flyte-backend"
flyte_user_namespace               = "flytesnacks-development"
flyte_user_service_account_name    = "default"
spark_namespace                    = "spark-jobs"
spark_service_account_name         = "spark"
ray_namespace                      = "ray-jobs"
ray_service_account_name           = "ray"
secret_name                        = "ai-video-platform/dev/flyte"
